<nav class="navbar navbar-expand-lg navbar-dark bg-nav-rbm">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">Recibla Brasil</a>
    <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" (click)="CloseOnClick()">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/empreendedores" routerLinkActive="active" (click)="CloseOnClick()">Empreendedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quemSomos" routerLinkActive="active" (click)="CloseOnClick()">Quem somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contatos" routerLinkActive="active" (click)="CloseOnClick()">Contatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" (click)="CloseOnClick()">Login</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="O que deseja pesquisar?">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar...</button>
      </form>
    </div>
  </div>
</nav>