<div class="card" style="margin: 2em 0;">
  <div class="card-header">
    Formulário de contato
  </div>
  <div class="card-body">
    <div class="container">
      <form>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label for="contactname">Nome</label>
              <input type="text" class="form-control" [formControl]="name">
            </div>
            <div class="form-group">
              <label for="contactname">E-mail</label>
              <input type="text" class="form-control" [formControl]="mail">
            </div>
            <div class="form-group">
              <label for="contactname">Telefone</label>
              <input type="text" class="form-control" [formControl]="phone">
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Mensagem</label>
              <textarea class="form-control" [formControl]="message" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-outline-secondary" (click)="open(content)">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card-footer text-muted">
    Entraremos em contato o mais rápido possível.
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Mensagem Enviada</h4>
  </div>
  <div class="modal-body">
    <p>Entraremos em contato em breve.</p>
    <p>Obrigado!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fechar</button>
  </div>
</ng-template>