$MainColor: #e8fce8;
$SecondaryColor: #242825;

$topMarginAfterNav: 2em;

body {
   background-color: $MainColor !important;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
   color: $SecondaryColor;
}
html, body { height: 100%; }
body { margin: 0; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }