$MainColor: #cdfccd;
$SecondaryColor: #70fe70;

$topMarginAfterNav: 2em;

body {
   background-color: $MainColor !important;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}