$MainColor: #e8fce8;
$SecondaryColor: #242825;

$topMarginAfterNav: 2em;

body {
   background-color: $MainColor !important;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
   color: $SecondaryColor;
}
html, body { height: 100%; }
body { margin: 0; }
