.home-top {
   background-color: #013401;

   @media (max-width: 768px) {
      height: 330px;
   }
}

.home-bottom {
   margin-top: 30px;

   .empreed {
      font-weight: bold;
      text-decoration: underline;
   }

   .card {
      margin-top: 1em;
      margin-bottom: 1em;
   }
}