$home-info: 0em;
$home-info-border-color: rgba(224, 228, 224, 0.493);
$home-h3-color: rgb(63, 70, 64);

.home-carousel-info {
   margin-top: $home-info;
   border: 1px solid $home-info-border-color;
   height: 200px;
   padding: 2em 0;

   img {
      @media screen and (max-width: 720px) {
         width: 100px;
      }
      @media screen and (max-width: 960px) {
         width: 150px;
      }
      @media screen and (min-width: 961px) {
         width: 150px;
      }
   }

   .home-h3 {
      color: $home-h3-color !important;
      text-shadow: 2px 2px 4px rgb(100, 105, 101);

      .inner-h3 {
         font-size: 20pt !important;
         font-style: italic;
         font-weight: bold;
      }
   }
}

.home-carousel-vert-center {
   align-items: center;
}