<div class="row">
  <div class="col-12">
    <ngb-carousel class="home-carousel-info text-center">
      <ng-template ngbSlide>
        <div class="row home-carousel-vert-center">
          <div class="col-sm-12 col-md-3 col-lg-4">
            <img src="assets/images/Paper.png">
          </div>
          <div class="col-sm-12 col-md-9 col-lg-8">
            <div class="row text-left home-h3">
              <div class="col-12 inner-h3">Papel</div>
              <div class="col-12">Todo papel pode ser re-aproveitado e reciclado. Não jogue fora. Junte, venda ou doe pra quem precisa ou pra quem pode reciclar.</div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
          <div class="row home-carousel-vert-center">
            <div class="col-sm-12 col-md-3 col-lg-4">
              <img src="assets/images/Plastic.png">
            </div>
            <div class="col-sm-12 col-md-9 col-lg-8">
              <div class="row text-left home-h3">
                <div class="col-12 inner-h3">Plastico</div>
                <div class="col-12">Plastico pode ser remodelado ou usado na criação de outros objetos e utensilios. Veja no youtube como você pode re-utilizar todo ou qualquer plastico que for jogar fora.</div>
              </div>
            </div>
          </div>
        </ng-template>
    </ngb-carousel>
  </div>
</div>