<div class="row">
  <div class="col-12">
    <ngb-carousel class="home-carousel-info">
      <ng-template ngbSlide>
        <img src="../../images/work-in-progress.png">
        <div class="carousel-caption">
          <h3>Titulo Teste</h3>
          <p>Conteúdo em teste</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="jumbotron">teste</div>
        <div class="carousel-caption">
          <h3>Titulo Teste</h3>
          <p>Conteúdo em teste</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="jumbotron">teste</div>
        <div class="carousel-caption">
          <h3>Titulo Teste</h3>
          <p>Conteúdo em teste</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="jumbotron">teste</div>
        <div class="carousel-caption">
          <h3>Titulo Teste</h3>
          <p>Conteúdo em teste</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>