<div class="card text-center">
  <div class="card-header qs-header">
    Quem Somos
  </div>
  <div class="card-body">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil veritatis perspiciatis fugit assumenda laudantium cum, natus reiciendis iure voluptas tempora, autem aut nulla sint dolores ducimus distinctio repudiandae nesciunt id? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, enim ratione. Magnam saepe magni amet commodi laborum asperiores recusandae maiores labore. Nobis dicta perferendis quod est. Voluptates fugit iste laborum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum expedita, necessitatibus voluptates itaque quaerat neque delectus, doloremque veritatis assumenda at vero? Eum vero, blanditiis enim suscipit nostrum magnam molestias aliquid.</p>
  </div>
</div>