$home-info: 0em;
$home-h3-color: rgb(57, 65, 58);

.home-carousel-info {
   margin-top: $home-info;
   background-color: rgb(213, 231, 216) !important;
   padding: 20px;
   border-radius: 4px;

   @media (max-width: 768px) {
      height: 330px;
   }

   img {
      @media screen and (max-width: 720px) {
         width: 100px;
      }
      @media screen and (max-width: 960px) {
         width: 150px;
      }
      @media screen and (min-width: 961px) {
         width: 150px;
      }
   }

   .home-h3 {
      color: $home-h3-color !important;
      text-shadow: 2px 2px 4px rgb(78, 80, 78);

      @media (max-width: 768px) {
         text-align: center !important;
      }

      .inner-h3 {
         font-size: 26pt !important;
         font-style: italic;
         font-weight: bold;
      }
   }
}

.home-carousel-vert-center {
   align-items: center;
}