<ngb-carousel class="home-carousel-info text-center" [showNavigationIndicators]=false [showNavigationArrows]=false>
    <ng-template ngbSlide>
      <div class="row home-carousel-vert-center">
        <div class="col-sm-auto col-md-auto col-lg-1"></div>
        <div class="col-sm-12 col-md-12 col-lg-3">
          <img src="assets/images/Paper.png">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="row text-left home-h3">
            <div class="col-12 inner-h3">Papel</div>
            <div class="col-12">Todo papel pode ser re-aproveitado e reciclado. Não jogue fora. Junte, venda ou doe pra quem precisa ou pra quem pode reciclar.</div>
          </div>
        </div>
        <div class="col-sm-auto col-md-auto col-lg-2"></div>
      </div>
    </ng-template>
    
    <ng-template ngbSlide>
      <div class="row home-carousel-vert-center">
        <div class="col-sm-auto col-md-auto col-lg-1"></div>
        <div class="col-sm-12 col-md-12 col-lg-3">
          <img src="assets/images/Plastic.png">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="row text-left home-h3">
            <div class="col-12 inner-h3">Plastico</div>
            <div class="col-12">Plastico pode ser remodelado ou usado na criação de outros objetos e utensilios. Veja no youtube como você pode re-utilizar todo ou qualquer plastico que for jogar fora.</div>
          </div>
        </div>
        <div class="col-sm-auto col-md-auto col-lg-2"></div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="row home-carousel-vert-center">
        <div class="col-sm-auto col-md-auto col-lg-1"></div>
        <div class="col-sm-12 col-md-12 col-lg-3">
          <img src="assets/images/Glass.png">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="row text-left home-h3">
            <div class="col-12 inner-h3">Vidro</div>
            <div class="col-12">Na reciclagem, o vidro é esmagado, derretido para então vira outros produtos. Não jogue fora no lixo. Revenda ou passe pra coletores.</div>
          </div>
        </div>
        <div class="col-sm-auto col-md-auto col-lg-2"></div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="row home-carousel-vert-center">
        <div class="col-sm-auto col-md-auto col-lg-1"></div>
        <div class="col-sm-12 col-md-12 col-lg-3">
          <img src="assets/images/Metal.png">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="row text-left home-h3">
            <div class="col-12 inner-h3">Metal</div>
            <div class="col-12">O metal assim como o Vidro é derretido para que se torne outro produto.</div>
          </div>
        </div>
        <div class="col-sm-auto col-md-auto col-lg-2"></div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="row home-carousel-vert-center">
        <div class="col-sm-auto col-md-auto col-lg-1"></div>
        <div class="col-sm-12 col-md-12 col-lg-3">
          <img src="assets/images/ORganic.png">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="row text-left home-h3">
            <div class="col-12 inner-h3">Organico</div>
            <div class="col-12">Resto de comida, em um dos exemplos é usado para produção de compostos, fertilizantes dentre outros. </div>
          </div>
        </div>
        <div class="col-sm-auto col-md-auto col-lg-2"></div>
      </div>
    </ng-template>
  </ngb-carousel>